.button {
  padding: 13px 15px;

  font-family: $roboto-cond;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;

  border: 1px solid $blue;
  border-radius: 5px;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $blue;

    background-color: $blue;
  }

  &:active {
    opacity: 0.5;
  }
}

.button--white {
  width: 180px;

  color: $white;

  border: 1px solid $white;

  &:hover,
  &:focus {
    color: $dark-bg;

    background-color: $white;
  }

  &:active {
    opacity: 0.5;
  }
}

.button--form {
  color: $white;

  border: 1px solid $white;

  &:hover,
  &:focus {
    color: $blue;

    background-color: $white;
  }

  &:active {
    opacity: 0.5;
  }
}
