.footer {
  background-color: $light-bg;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 20px 60px 20px;
}

.footer__main-info {
  width: 30%;
}

.footer__pages {
  width: 40%;
}

.footer__years {
  display: none;
}

.footer__contact-info {
  margin-left: auto;
  width: 30%;
}

.footer__logo {
  display: flex;
  margin-bottom: 50px;
}

.footer__toggle {
  padding: 0;
  margin-bottom: 30px;

  font-family: $roboto-cond;
  font-size: 15px;
  line-height: 16px;
  color: $dark-bg;
  letter-spacing: 0.05em;

  border: none;
  background-color: transparent;
  text-align: right;
  text-transform: uppercase;
}

.footer__nav {
  @include nolist;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__nav-item {
  width: 45%;
  margin-right: 10px;
}

.footer__nav-item a {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: rgba(27, 45, 55, 0.5);

  &:hover,
  &:focus {
    color: rgba(27, 45, 55, 0.8);
  }

  &:active {
    color: rgba(27, 45, 55, 0.3);
  }
}

.footer__nav-item--about {
  order: 1;
}

.footer__nav-item--production {
  order: 5;
}

.footer__nav-item--installation {
  order: 7;
}

.nfooter__nav-item--components {
  order: 2;
}

.footer__nav-item--products {
  order: 3;
}

.footer__nav-item--delivery {
  order: 4;
}

.footer__nav-item--contacts {
  order: 6;
}

.footer__contacts-list {
  @include nolist;
}

.footer__contacts-list a {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: rgba(27, 45, 55, 0.5);

  &:hover,
  &:focus {
    color: rgba(27, 45, 55, 0.8);
  }

  &:active {
    color: rgba(27, 45, 55, 0.3);
  }
}

.footer__contacts-list span {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: rgba(27, 45, 55, 0.5);
}

@media (max-width: $tablet-width) {
  .footer__main-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 25px 25px;

    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  .footer__pages,
  .footer__contact-info {
    width: 50%;
    padding: 30px 25px;
  }

  .footer__years {
    display: flex;

    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
  }

  .footer__social {
    order: 1;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__container {
    padding: 30px 0 20px 0;
  }

  .footer__nav {
    flex-direction: column;
  }

  .footer__nav-item--about {
    order: 1;
  }

  .footer__nav-item--production {
    order: 3;
  }

  .footer__nav-item--installation {
    order: 4;
  }

  .footer__nav-item--components {
    order: 5;
  }

  .footer__nav-item--products {
    order: 2;
  }

  .footer__nav-item--delivery {
    order: 6;
  }

  .footer__nav-item--contacts {
    order: 7;
  }

  .footer__nav-item {
    width: 100%;
  }

  .footer__nav-item a {
    line-height: 25px;
  }
}

@media (max-width: $mobile-width) {
  .footer__main-info {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .footer__logo,
  .footer__years {
    margin-bottom: 30px;
  }

  .footer__pages,
  .footer__contact-info {
    width: 100%;
    padding: 0 25px;
  }

  .footer__pages {
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  .footer__nav,
  .footer__contacts-list {
    display: none;
    margin-bottom: 25px;
  }

  .footer__nav--open,
  .footer__contacts-list--open {
    display: flex;
  }

  .footer__toggle {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0;

    text-align: left;

    background-image: url("../img/more.svg");
    background-repeat: no-repeat;
    background-position: right center;

    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .footer__toggle--close {
    background-image: url("../img/less.svg");
  }

  .footer__contacts-list--open {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer__container {
    padding-bottom: 0;
  }
}
