@font-face {
  font-weight: normal;
  font-family: "PT Mono";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/PTMono-Regular.woff2") format("woff2"),
    url("../fonts/PTMono-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

// @font-face {
//   font-weight: normal;
//   font-family: "Roboto";
//   font-style: normal;
//   font-display: swap;

//   src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
//     url("../fonts/Roboto-Regular.woff") format("woff");
// }

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-family: $pt-mono;
  color: $grey;
  font-style: normal;

  background-color: $light-bg;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.scroll-disabled {
  height: 100%;
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
