$pt-mono: "PT Mono", "Courier New", monospace;
$roboto-cond: "Roboto Condensed", "Arial", sans-serif;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$grey: #666666;
$blue: #00b2ff;
$light-grey: #788891;
$white: #ffffff;
$border-grey: #ebebeb;
$dark-bg: #1b2d37;
$light-bg: #fafafa;

$mobile-width: 767px;
$tablet-width: 1023px;
